# Compiled class files
bin/
target/

# VS Code
.vscode/

# Zed
.zed/

# SpecStory - this is only needed to let Copilot export. We don't need to sync to GitHub.
.specstory/

# IDE files
*.class
*.jar
*.war

# OS files
Thumbs.db
.DS_Store

# Backup files
*.bak

# Prompts
.github/prompts/